<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<script src="../../bower_components/angular/angular.js"></script>
<script>
angular
	.module('myApp', [])
	.controller('FilmController', FilmController)
	.factory('filmService', filmFactory);
	//note we are creating a service with 'factory' recipe

function filmFactory($http) {
	this.$inject = ['$http'];

	return {
		getFilms: getFilms
	};

	function getFilms () {
		return $http
			.get('./api/films.json')
			.then(complete)
			.catch(failed);
	}

	function complete(response) {
		return response.data;
	}

	function failed(error) {
		return error.statusText;
	}
}

// we are injecting FilmService
function FilmController($scope, filmService, $timeout) {
	this.$inject = ['$scope', 'filmService', '$timeout'];

	filmService.getFilms().then(function(data) {
		$timeout(function () {
			$scope.films = data;
		}, 2000);
	});
}

</script>
</head>
<body>
<div ng-controller="FilmController">
	<ul>
		<li ng-repeat="film in films">
			{{ film.title }}
		</li>
	</ul>
</div>
</body>
</html>