<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="utf-8">
</head>
<body>

<div ng-init="rebels = [
    { name: 'Tamas', age: 31, hobby: 'waterpolo', colour: 'blue' },
	{ name: 'Simon', age: 35, hobby: 'travel', colour: 'green' },
	{ name: 'Mark', age: 36, hobby: 'animals', colour: 'grey' },
	{ name: 'Susan', age: 19, hobby: '', colour: 'red' },
	{ name: 'Anna', age: 45, hobby: 'cooking', colour: '' },
	{ name: 'Steve', age: 18, hobby: 'football', colour: 'red' },
	{ name: 'Dave', age: 12, hobby: 'lego', colour: 'blue' },
	{ name: 'Maria', age: 28, hobby: 'tennis', colour: 'pink' }
];"></div>

<!--
- Print out everything that you know about these people
- Apply a blue style to every odd line and green style to every even line
- Where the data is missing (colour/hobby property), display the text 'n/a'
- Also create a dropdown with all the names
- Make sure the initial bindings ({{}}) are not invisible
-->

<script src="../../bower_components/angular/angular.js"></script>
</body>
</html>